body {
    margin-bottom: 70px;
    background: #111;
}

.page-header {
    margin-top: 0;
}

.panel-body {
    padding-top: 0;
}
.featuredImg {
    margin-bottom: 15px;
}
.video {
    position: relative;
    padding-bottom: 56.25%;
}
.video iframe {
    position: absolute;
    width: 96%;
    height: 96%;
}
/*CSS Document*/

/* Custom Styling to Navbar 
-------------------------------- */
.navbar-wrapper {
    position: absolute;
        top: 0;
        right: 0;
        left: 0;
    z-index: 20;
}

.navbar-wrapper > .container {
    padding-right: 0;
    padding-left: 0;
}

.navbar-wrapper .navbar {
    padding-right: 15px;
    padding-left: 15px;
}

.navbar-wrapper .navbar .container {
    width: auto;
}

.right-inner-addon {
    position: relative;
        top: 8px;
        right: 1px;
    height: 3px;
}

.right-inner-addon input {
    padding-right: 30px;   
}

.right-inner-addon i {
    position: absolute;
        right: 0px;
    padding: 10px 12px;
    pointer-events: none;
}

/* Responsive CSS 
-------------------------------- */
@media (min-width: 768px) {
    
    .navbar-wrapper {
        margin-top: 20px;   
    }
    
    .navbar-wrapper .container {
        padding-right: 15px;
        padding-left: 15px;
    }
    
    .navbar-wrapper .navbar {
        padding-right: 0;
        padding-left: 0;
    }
    
    .navbar-wrapper .navbar {
       border-radius: 4px;    
    }
}

/* Carousel
---------------------- */
.carousel {
    height: 500px;
    margin-bottom: 60px;
}
.carousel-caption {
    z-index: 10;
}
.carousel .item {
    height: 500px;
    backrgound-color: #777;
}
.carousel-inner > .item > img {
    position: absolute;
        top: 0:
        left: 0;
    min-width: 100%;
    height: 500px;
}
.indent {
    margin-top: 125px;
    margin-bottom: 60px;
}

/* Social Bar By Hunter Raines
----------------------------*/
div a{
color:#888;
}

.soundcloud {
    font-size: x-large;
    text-shadow: 1px 1px 1px #ccc;
}
.soundcloud a:hover{
       font-size: xx-large;
   color: #FC7D21 !important;
text-shadow: 3px 4px 3px #ccc;
}
.youtube{
    font-size: x-large;
    text-shadow: 1px 1px 1px #ccc;
}
.youtube a:hover{
       font-size: xx-large;
   color: #C72323 !important;
text-shadow: 3px 4px 3px #ccc;
}
.facebook{
    font-size: x-large;
    text-shadow: 1px 1px 1px #ccc;
}
.facebook a:hover{
       font-size: xx-large;
   color: #4A649C !important;
text-shadow: 3px 4px 3px #ccc;
}
.flickr{
    font-size: x-large;
    text-shadow: 1px 1px 1px #ccc;
}
.flickr a:hover{
       font-size: xx-large;
   color: #ff0084 !important;
text-shadow: 3px 4px 3px #ccc;
}
.twitter{
    font-size: x-large;
    text-shadow: 1px 1px 1px #ccc;
}
.twitter a:hover{
       font-size: xx-large;
   color: #00aced !important;
text-shadow: 3px 4px 3px #ccc;
}
.instagram{
    font-size: x-large;
    text-shadow: 1px 1px 1px #ccc;
}
.instagram a:hover{
       font-size: xx-large;
   color: #517fa4 !important;
text-shadow: 3px 4px 3px #ccc;
}

/* Website CSS By Hunter Raines
----------------------------*/
#fg3-1 {
    margin-top: 100px;
}
#bannervideo {
    margin-left 30px;
        margin: 0 auto;
}