body {
    margin-bottom: 70px;
    background: #111;
}

.page-header {
    margin-top: 0;
}

.panel-body {
    padding-top: 0;
}
.featuredImg {
    margin-bottom: 15px;
}
.video {
    position: relative;
    padding-bottom: 56.25%;
}
.video iframe {
    position: absolute;
    width: 96%;
    height: 96%;
}
/*CSS Document*/

/* Custom Styling to Navbar 
-------------------------------- */
.navbar-wrapper {
    position: absolute;
        top: 0;
        right: 0;
        left: 0;
    z-index: 20;
}

.navbar-wrapper > .container {
    padding-right: 0;
    padding-left: 0;
}

.navbar-wrapper .navbar {
    padding-right: 15px;
    padding-left: 15px;
}

.navbar-wrapper .navbar .container {
    width: auto;
}

.right-inner-addon {
    position: relative;
        top: 8px;
        right: 1px;
    height: 3px;
}

.right-inner-addon input {
    padding-right: 30px;   
}

.right-inner-addon i {
    position: absolute;
        right: 0px;
    padding: 10px 12px;
    pointer-events: none;
}

/* Responsive CSS 
-------------------------------- */
@media (min-width: 768px) {
    
    .navbar-wrapper {
        margin-top: 20px;   
    }
    
    .navbar-wrapper .container {
        padding-right: 15px;
        padding-left: 15px;
    }
    
    .navbar-wrapper .navbar {
        padding-right: 0;
        padding-left: 0;
    }
    
    .navbar-wrapper .navbar {
       border-radius: 4px;    
    }
}

/* Carousel
-------------------------------- */
.carousel {
    height: 500px;
    margin-bottom: 60px;
}
.carousel-caption {
    z-index: 10;
}
.carousel .item {
    height: 500px;
    backrgound-color: #777;
}
.carousel-inner > .item > img {
    position: absolute;
        top: 0:
        left: 0;
    min-width: 100%;
    height: 500px;
}
.indent {
    margin-top: 80px;
    margin-bottom: 60px;
}
.row-fluid {
    font-size: xx-large;
    text-shadow: 1px 1px 1px #ccc;
}
.fa:before {
color: #111;
text-shadow: 1px 1px 1px #ccc;
}
