body {
    margin-bottom: 70px
}

.page-header {
    margin-top: 0;
}

.panel-body {
    padding-top: 0;
}
.featuredImg {
    margin-bottom: 15px;
}
.video {
    position: relative;
    padding-bottom: 56.25%;
}
.video iframe {
    position: absolute;
    width: 96%;
    height: 96%;
}
